mixin fourth_menu(a)
	ul.menu__fourth-list
		if a === 4
			each val in [1, 2, 3, 4]
				li.menu__fourth-item
					a(href="#") Menu_sub_item
		else
			each val in [1, 2, 3, 4, 5, 6, 7]
				li.menu__fourth-item
					a(href="#") Menu_sub_item


mixin third_menu
	ul.menu__third-list
		each val in [1, 2, 3, 4, 5, 6]
			li.menu__third-item
				span Menu_item
				
				if val === 3
					+fourth_menu(7)
				else
					+fourth_menu(4)

mixin second_menu
	ul.menu__second-list
		each val in [1, 2, 3, 4, 5]
			li.menu__second-item
				span Menu_item

				+third_menu

mixin menu
	ul.menu__list#collapseMenu
		each val in [1, 2, 3, 4, 5, 6, 7]
			li.menu__item
				span Menu_item

				+second_menu

.container
	.row
		.col-xs-12
			.nav.menu
				.menu__btn#collapseButton
					span.menu__strip
					span.menu__strip
					span.menu__strip
				+menu