// переменные
@import 'ninja-components/ninja-vars'

// плейсхолдеры
@import 'ninja-components/ninja-placeholders'

// сетки
@import 'ninja-components/ninja-grids'

// сброс штатных стилей
@import 'ninja-components/ninja-stylereset'