type = '$'
// перебираем все заданные ширины экранов (sm, md, lg, ...)
for pref, screen in containers
	
	// выбираем минимальную ширину экрана
	@media screen and (min-width screen["media-min"])
		
		// теперь создадим плейсхолдер для контейнера
		{type}container
			
			// сделаем переменные, в которые положим соответствующие значения
			cont-width = screen["container-width"]
			cont-pad = screen["container-padding"]
			
			// если контейнер резиновый
			if screen["fluid"]
				
				// то задаем максимальную ширину
				max-width cont-width
				
			// иначе
			else
				
				// задаем фиксированную ширину
				width 100%
				// и такую же максимальную, чтобы перебить другие максималки сверху
				max-width cont-width
			
			// паддинги и маржини для контейнера
			padding 0 cont-pad
			margin 0 auto
		
		// создаем плейсхолдер для строки
		{type}row
			
			// задаем отрицательные маржины, равные паддингам колонок
			row-marg = -(screen["column-padding"])
			margin 0 row-marg
			font-size 0
	
		// создаем плейсхолдер для нулевой колонки
		{type}col-{pref}-0
		
			// она у нас отображаться не будет
			display none
		
		// теперь переберем колонки
		for num in 1..screen["column-number"]
			
			// переменные для ширин и паддингов
			col-width = (num*100%/screen["column-number"])
			col-pad = screen["column-padding"]
			
			// сам плейсхолдер колонки
			{type}col-{pref}-{num}
				width col-width
				padding 0 col-pad
				display inline-block
				font-size 15px
				vertical-align top
			
			// и сделаем офсеты
			{type}col-off-{pref}-{num}
				margin-left col-width