// зададим боди бордербокс
body
	box-sizing border-box

// и всем детям скажем, наследовать от него это свойство
body *
	box-sizing inherit

// доп плейсхолдеры

// выровнять по левому краю
$pull-left
	float left

// выровнять по правому краю
$pull-right
	float right

// выровнять текст по левому краю
$text-left
	text-align left

// выровнять текст по центру
$text-center
	text-align center

// выровнять текст по правому краю
$text-right
	text-align right
