containers = {
	sm: {
		media-min: 0
		fluid: true
		container-width: 320px
		container-padding: 20px
		column-padding: 10px
		column-number: 12
	},
	md: {
		media-min: 800px
		fluid: false
		container-width: 800px
		container-padding: 20px
		column-padding: 10px
		column-number: 12
	},
	lg: {
		media-min: 1200px
		fluid: false
		container-width: 1200px
		container-padding: 20px
		column-padding: 10px
		column-number: 12
	},
}